.Calendar {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  display: grid;
  grid-template-rows: 7vh 5vh 5vh 1fr;
  grid-template-areas: 
    'header'
    'month'
    'weeks'
    'days';
  font-size: 4.5vw;
}
.month {
  grid-area: month;
  color: gray;
  text-decoration: none;
  display: grid;
  width: 100%;
  grid-template-columns: 15% 1fr 15%;
}
.month .middle{
  justify-self: center;
  align-self: center;
}
.month .left,
.month .right{
  cursor: pointer;
  justify-self: center;
  align-self: center;
  width: 4vh;
  height: 4vh;
}
.month .right{
  transform: rotate(180deg);
}
.sunday {
  color: red;
}
.weeks {
  grid-area: weeks;
  list-style: none;
  display: flex;
  flex-flow: row;
  border-bottom: 1px solid #B8B8B8;
}
.week {
  width: 14.2857142857%;
  text-align: center;
}
.day-list {
  overflow: hidden;
  height: 100%;
}
.days {
  grid-area: days;
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  height: 100%;
}
.day {
  width: 14.2857142857%;
  text-align: right;
  height: 20%;
  text-decoration: none;
  color: blue;
}
.day:nth-child(7n+1) {
  color: red;
}
.dayHead {
  height: 20%;
  font-size: 2.5vh;
  background: lightblue;
}
.dayHead.today {
  color: darkgreen;
}
.dayDetail {
  height: 80%;
  font-size: 1.8vh;
}
.dayDetail .deadline {
  background: orangered;
  border-bottom: none;
  text-align: center;
  color: white;
}
.dayDetail .event {
  background: yellow;
  border-bottom: none;
  text-align: center;
  color: black;
}
.dayPannel {
  display: grid;
  grid-template-columns: 30% 1fr 15%;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 5vh;
  background: #32bea6;
}
.dayPannel img {
  width: 4vh;
  height: 4vh;
}
.dayPannel + div {
  background: #32bea6;
}
