@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* { 
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  background-size: 60px 60px;
  background-color: rgba(31, 2, 30, .3);
  background-image: 
      linear-gradient(
          45deg,
          rgba(255, 255, 255, .3) 25%, 
          transparent 25%, 
          transparent 50%, 
          rgba(255, 255, 255, .3) 50%, 
          rgba(255, 255, 255, .3) 75%, 
          transparent 75%, 
          transparent);
}
input.hidden {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.login-box { 
  z-index: 1;
  box-shadow: 2px 2px 3px gray; 
  border: 1px solid lightgray; 
  border-radius: 25px;
  width: 70%;
  background: whitesmoke;
  padding: 3vh 6vh;
  margin-bottom: 5vh
}
.title-img {
  width: 10vh;
  height: 10vh;
}
.title {
  text-align: center;
}
.title > div {
  font-size: 4vh;
}
.title ~ hr {
  border: 1px dotted lightgray;
  margin: 2vh 0;
}
.des {
  font-size: 2.3vh;
}
.login-choice {
  display: block;
  cursor: pointer;
  border: 3px dotted lightgray;
  border-radius: 10px;
  padding: 0.5vh 1vh;
  margin: 2vh 0;
  text-align: center;
  font-size: 3vh;
}
.login-choice > img {
  width: 12vh;
  height: 12vh;
}

#TeacherCheckbox:checked ~ #Choice,
#StudentCheckbox:checked ~ #Choice{
  display: none;
}
#TeacherLogin, #StudentLogin {
  display: none;
}
#TeacherCheckbox:checked ~ #TeacherLogin {
  display: block;
}
#StudentCheckbox:checked ~ #StudentLogin{
  display: block;
}

.input-field {
  width: 95%;
  height: 4vh;
  display: block;
  margin: 2.5vh auto;
  text-align: center;
  font-size: 3vh;
  border: 2px dotted lightgray;
  border-radius: 10px;
  box-shadow: .5px .5px 1px gray;
  background: whitesmoke;
}
.input-field::placeholder {
  text-align: center;
  padding: 3px;
  font-family: 'Montserrat', sans-serif;
}
.btn-clear {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
}
.btn-list {
  text-align: center;
}
.btn {
  font-size: 3vh;
  padding: 3% 14%;
  border-radius: 5px;
  margin: 1vh 0 2vh 0;
  cursor: pointer;
}
.btn.green {
  background-color: lightgreen;
}
.btn.red {
  background-color: orange;
}
.w-100 {
  width: 100%;
}

@media only screen and (min-width: 780px) {
  .login-box {
    width: 30%;
  } 
}
