@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import "./daypicker.css";
@import "./calendar.css";

:root {
  --main-bg-color: repeating-linear-gradient(45deg, rgba(232, 241, 249, 0.6), rgba(255,255,255,.3) 27vh),
    repeating-linear-gradient(125deg, rgba(232, 241, 249, 0.6), rgba(255,255,255,.3) 27vh);
  --main-color-lightblue: rgba(173, 216, 230, .4);
  --main-color-lightblack: rgba(44,44,44);
}

::-webkit-scrollbar {
  width: 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  background: var(--main-bg-color)
}

button {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  background: inherit;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(44,44,44,0.75), rgba(0,0,0,0));
}

pre {
  font-family: inherit;
}

#main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 7vh 1fr;
  grid-template-areas: 
    "header"
    "content";
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 8vh 1fr 8vh;
  background: lightblue;
  height: 7vh;
}

a.header-icon {
  display: grid;
}
img.header-icon {
  height: 6vh;
  width: 6vh;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}

.header-icon ~ span {
  font-size: 3vh;
  font-weight: bold;
  align-self: center;
  justify-self: center;
}

.header-toggle {
  height: 5vh;
  width: 5vh;
  align-self: center;
  justify-self: center;
  cursor: pointer;
  z-index: 98;
}

.content {
  grid-area: content;
  height: 93vh;
  overflow-y: scroll;
}

.sticky-top {
  position: sticky;
  top: 0;
}
.sticky-bottom {
  position: sticky;
  bottom: 0;
  background: white;
  padding: .5vh;
}

#nav {
  position: absolute;
  top: 7vh;
  left: 0;
  background: rgba(0,0,0,.5);
  width: 100%;
  height: 93vh;
  transition: opacity linear .1s;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#nav.open {
  opacity: 1;
  z-index: 100;
}

#nav.close {
  opacity: 0;
  z-index: -1;
}

#nav > a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.nav-items {
  list-style: none;
  width: 20%;
  margin: 8vh 12vw 8vh 12vw;
}

.nav-items > img {
  width: 12vh;
  height: 12vh;
  margin: 0 auto;
  display: block;
}

.nav-items > div {
  color: lightblue;
  text-align: center;
  font-size: 2vh;
  width: 12vh;
  margin: 0 auto;
  font-weight: bold;
}

.UserInfo {
  z-index: 99;
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.UserInfo-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255,255,255,0.5);
  z-index: -1;
}

.UserInfo-main {
  width: 80%;
  height: 50vh;
  margin: auto;
  background: rgb(215, 235, 244);
  padding: 1vh;
  border-radius: 10px;
  font-size: 2.3vh;
}
.UserInfo-main img {
  width: 15vh;
  height: 15vh;
}
.UserInfo .flex {
  margin-top: 2vh;
  display: flex;
  flex-flow: row wrap;
}
.UserInfo .flex > div {
  width: 48%;
  margin: .3vh auto;
  font-size: 2.2vh;
  background: lightblue;
  padding: .5vh 0;
  border-radius: 10px;
}
.UserInfo .follow,
.UserInfo .unfollow {
  margin: auto;
  margin-top: 3vh;
  cursor: pointer;
  padding: 1vh 0;
  border-radius: 10px;
}
.UserInfo .follow {
  background: lightgreen;
}
.UserInfo .unfollow {
  background: orangered;
  color: white;
}
.search-panel {
  width: 98%;
  height: 6vh;
  margin: 1vh auto;
  background: var(--main-color-lightblue);
  color: var(--main-color-lightblack);
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr 20%;
}

.Courses .search-panel {
  grid-template-columns: 18% 1fr 20%;
}

.search-panel > * {
  border: none;
  font-size: 2.5vh;
  height: 100%;
}

.Questions .search-panel input,
.search-panel > select {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-left: 1vh;
  background: white;
}
.Questions .search-panel input {
  padding-left: 1vh;
}

.search-panel > button,
.search-panel > span {
  height: auto;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}

.Questions .option,
.Courses .option {
  text-decoration: none;
  color: var(--main-color-lightblack);
}

.Questions .option div,
.Courses .option div {
  padding: .8vh 0;
  margin: .5vh auto;
  width: 98%;
  height: 4vh;
  background: var(--main-color-lightblue);
  font-size: 3.2vh;
  text-align: center;
}

.Questions .option div:hover,
.Courses .option div:hover {
  opacity: .8;
}

.Questions h1.title,
.Courses h1.title {
  text-align: center;
  font-size: 4vh;
  color: var(--main-color-lightblack);
  margin-top: 2vh;
}

.Questions h1.title img,
.Courses h1.title img {
  width: 5vh;
  height: 5vh;
  float: left;
  padding-left: 5px;
  vertical-align: middle;
}

.course-list,
.question-list {
  list-style: none;
}

.course-list li,
.question-list li {
  margin: 1vh auto;
  padding: 1vh 2vh;
  width: 90%;
  background: var(--main-color-lightblue);
  color: var(--main-color-lightblack);
  cursor: pointer;
}

.course-list li:hover,
.question-list li:hover {
  opacity: .8;
}

.course-list a,
.question-list a {
  text-decoration: none;
  color: inherit;
}

.course-list img {
  display: none;
}

.course-list li > h4,
.question-list li > h4 {
  font-size: 2.5vh;
}

.course-list li > h6,
.question-list li > h6 {
  font-size: 1.8vh;
}

.course-list li > h6 > span,
.question-list li > h6 > span {
  float: right;
}

.course-list li > div {
  padding: 0 1vw;
  font-size: 2vh;
  overflow-x: hidden;
}

.question-list li > h6.solved {
  color: green;
}

.question-list li > h6.not-solved {
  color: red;
}

.Question .TextEditor > .EditorPanel {
  width: 96%;
  margin: 0 auto;
  border: 1px solid gray;
  border-bottom: none;
}

.Question .TextEditor > .EditorPanel > button {
  margin: 1vh .95vh;
  border: 1px solid transparent;
  width: 3vh;
  height: 3vh;
  cursor: pointer;
}

.Question .TextEditor > .EditorPanel > button:hover {
  border: 1px solid lightgray;
}

.Question .TextEditor > .EditorPanel > button > img {
  width: 100%;
  height: 100%;
}

.Question .TextEditor > iframe {
  display: block;
  font-size: 2vh;
  margin: auto;
  width: 96%;
  height: 15vh;
  background: rgba(255,255,255,.5);
  border: 1px inset lightgray;
}
.Question .TextEditor > iframe > * {
  font-size: 2vh;
}

.course-detail .description img,
.Question .question_detail img {
  width: 80%;
  height: auto;
  display: block;
}

.CreateCourses > input,
.EditCourse > input,
.CreateLesson > input,
.EditLesson > input,
.CreateQuestions > input {
  display: block;
  width: 96%;
  margin: 1vh auto;
  font-size: 3vh;
  border: 1px solid gray;
}

.Course .comments-header .TextEditor .EditorPanel,
.CreateCourses > .TextEditor > .EditorPanel,
.EditCourse > .TextEditor > .EditorPanel,
.EditComment > .TextEditor > .EditorPanel,
.CreateLesson > .TextEditor > .EditorPanel,
.EditLesson > .TextEditor > .EditorPanel,
.CreateQuestions > .TextEditor > .EditorPanel {
  width: 96%;
  margin: 0 auto;
  border: 1px solid gray;
  border-bottom: none;
}
.EditComment > .TextEditor > .EditorPanel {
  width: 98%;
}

.Course .comments-header .TextEditor .EditorPanel > button,
.CreateCourses > .TextEditor > .EditorPanel > button,
.EditCourse > .TextEditor > .EditorPanel > button,
.EditComment > .TextEditor > .EditorPanel > button,
.CreateLesson > .TextEditor > .EditorPanel > button,
.EditLesson > .TextEditor > .EditorPanel > button,
.CreateQuestions > .TextEditor > .EditorPanel > button {
  margin: 1vh .94vh;
  border: 1px solid transparent;
  width: 3vh;
  height: 3vh;
  cursor: pointer;
}
.Course .comments-header .TextEditor .EditorPanel > button {
  margin: 1vh .89vh;
}

.Course .comments-header .TextEditor .EditorPanel > button:hover,
.CreateCourses > .TextEditor > .EditorPanel > button:hover,
.EditCourse > .TextEditor > .EditorPanel > button:hover,
.EditComment > .TextEditor > .EditorPanel > button:hover,
.CreateLesson > .TextEditor > .EditorPanel > button:hover,
.EditLesson > .TextEditor > .EditorPanel > button:hover,
.CreateQuestions > .TextEditor > .EditorPanel > button:hover {
  border: 1px solid lightgray;
}

.Course .comments-header .TextEditor .EditorPanel > button > img,
.CreateCourses > .TextEditor > .EditorPanel > button > img,
.EditCourse > .TextEditor > .EditorPanel > button > img,
.EditComment > .TextEditor > .EditorPanel > button > img,
.CreateLesson > .TextEditor > .EditorPanel > button > img,
.EditLesson > .TextEditor > .EditorPanel > button > img,
.CreateQuestions > .TextEditor > .EditorPanel > button > img {
  width: 100%;
  height: 100%;
}

.Course .comments-header .TextEditor > iframe,
.CreateCourses > .TextEditor > iframe,
.EditCourse > .TextEditor > iframe,
.EditComment > .TextEditor > iframe,
.CreateLesson > .TextEditor > iframe,
.EditLesson > .TextEditor > iframe,
.CreateQuestions > .TextEditor > iframe {
  display: block;
  font-size: 2vh;
  margin: auto;
  width: 96%;
  height: 72vh;
  background: rgba(255,255,255,.5);
  border: 1px inset lightgray;
}

.EditComment > .TextEditor > iframe {
  width: 98%;
}

.CreateCourses > .TextEditor > iframe,
.EditCourse > .TextEditor > iframe {
  height: 35vh;
}
.CreateLesson > .TextEditor > iframe,
.EditLesson > .TextEditor > iframe {
  height: 61vh;
}
.Course .comments-header .TextEditor > iframe {
  height: 15vh;
}

.CreateCourses .TextEditor + div,
.EditCourse .TextEditor + div {
  padding: 0 2vh;
  font-size: 3vh;
}

.CreateCourses ol,
.EditCourse ol {
  height: 32vh;
  overflow-y: scroll;
  font-size: 3vh;
}

.CreateCourses ol > li,
.EditCourse ol > li {
  margin: 1vh 5vh;
  font-size: 3vh;
}

.CreateCourses ol > li > input,
.EditCourse ol > li > input {
  font-size: 3vh;
}

.CreateCourses img.add,
.EditCourse img.add,
.EditCourse img.minus,
.CreateCourses img.minus {
  width: 5vh;
  height: 5vh;
  vertical-align: middle;
}

.CreateCourses > .submit,
.EditCourse > .submit,
.EditComment > .submit,
.CreateLesson > .submit,
.EditLesson > .submit,
.CreateQuestions > .submit,
.Question .EditAnswer > .submit,
.CreateTask .submit,
.EditTask .submit,
.AnswerTask .submit,
.Classrooms ~ .EditAnswer .submit {
  width: 96%;
  font-size: 3vh;
  background: var(--main-color-lightblue);
  border-radius: 10px;
  margin: 1vh auto;
  display: block;
  padding: .5vh 0;
  cursor: pointer;
}
.CreateTask .submit,
.EditTask .submit,
.AnswerTask .submit,
.Classrooms ~ .EditAnswer .submit
.Classrooms ~ .EditComment .submit {
  width: 98%;
}
.EditComment .rate {
  width: 5vh;
  height: 5vh;
}

.Course {
  overflow-x: hidden;
  color: var(--main-color-lightblack)
}

.Question {
  overflow-x: hidden;
  overflow-y: scroll;
}

.Lesson .lesson_title {
  width: 96%;
  margin: auto;
  font-weight: bold;
  font-size: 3vh;
  height: 3.5vh;
  overflow-y: scroll;
}

.Lesson .flex {
  margin: auto;
  width: 98%;
}

.Lesson .video {
  display: block;
  margin: 1vh auto;
  width: 95vw;
  height: 53vw;
}

.Lesson .download {
  margin: 1vh auto;
  margin-top: 0;
  width: 98%;
  font-size: 2.5vh;
}
.Lesson .download > * {
  margin: 0 1vh;
}

.Lesson .lesson_detail {
  width: 94%;
  margin: 1vh auto;
  overflow: scroll;
  padding: 1vh 2%;
  font-size: 2.5vh;
  background: var(--main-color-lightblue);
}

.course-detail,
.lesson-panel {
  width: 98%;
  margin: 1vh auto;
  padding: 1vh 0;
  background: rgb(215, 235, 244);
}

.course-detail > .title {
  padding: 0 1.5vh;
  font-weight: bold;
  font-size: 3.5vh;
}

.course-detail > .author {
  font-size: 2.5vh;
  padding: 0 1.5vh;
}

.course-detail > .description {
  font-size: 3vh;
  padding: 0 2.5vh;
  margin: 2vh auto;
}

.course-detail > .tags {
  font-size: 2.5vh;
  padding: 0 1.5vh;
}

.lesson-panel > .lesson {
  margin: 1vh 0;
  font-size: 3vh;
  padding: 0 1.5vh;
  cursor: pointer;
}

.lesson-panel > .lesson:hover {
  opacity: 0.8;
}

.lesson_file {
  font-size: 2vh;
}

.Lesson .edit,
.Lesson .delete,
.Question .delete,
.Question .collection,
.course-btn-panel {
  width: 98%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  font-size: 3vh;
  margin: auto;
}
.course-btn-panel > div {
  width: 99%;
}
.Lesson .edit,
.Lesson .delete,
.Question .delete,
.Question .collection,
.course-btn-panel div {
  padding: 1vh 2vh;
  margin: .5vh 0;
}
.Lesson .flex,
.comment-list .flex,
.course-btn-panel > .flex {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
}
.Lesson .edit,
.Lesson .delete,
.course-btn-panel > .flex > div {
  padding: 1vh 0;
  width: 49%;
}
.course-btn-panel .create {
  background: lightgreen;
  cursor: pointer;
}
.Lesson .edit,
.comment-list .edit,
.course-btn-panel .edit {
  margin: 0 1% 0 0;
  background: yellow;
  cursor: pointer;
}
.Lesson .delete,
.comment-list .delete,
.course-btn-panel .delete {
  margin: 0 0 0 1%;
  background: orangered;
  color: white;
  cursor: pointer;
}
.course-btn-panel .rate {
  background: var(--main-color-lightblue);
}
.Question .collection.add,
.course-btn-panel .collection.add {
  background: lightgreen;
  cursor: pointer;
}
.Question .delete,
.Question .collection.remove,
.course-btn-panel .collection.remove {
  background: orangered;
  color: white;
  cursor: pointer;
}
.Question .delete,
.Question .collection {
  width: 96%;
  padding: 1vh 2%;
}
.Question .collection.add {
  border: 1px solid lightgreen;
}
.Question .delete,
.Question .collection.remove {
  border: 1px solid red;
}
.Question .delete.cancel {
  background: yellow;
  color: var(--main-color-lightblack);
  border: 1px solid yellow;
  cursor: pointer;
}
.comments-header {
  width: 98%;
  margin: 1vh auto;
  text-align: center;
  padding: 1vh 0;
  background: var(--main-color-lightblue);
  font-weight: bold;
  font-size: 3vh;
}
.comment-content {
  padding: 2vh;
  padding-bottom: 3vh;
}
.question-detail ul,
.question-detail ol,
.answer-detail ul,
.answer-detail ol,
.comment-content ul,
.comment-content ol {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}
.question-header,
.best-answer-header {
  width: 96%;
  text-align: center;
  padding: 1vh 0;
  padding: 1vh 2%;
  background: var(--main-color-lightblue);
  font-weight: bold;
  font-size: 3vh;
  border: 1px solid var(--main-color-lightblue);
  margin: 2px 0;
}
.comment-list {
  width: 98%;
  margin: 0 auto;
  padding: 1vh 0;
  font-size: 2.5vh;
}
.comment-list li {
  text-align: left;
  padding: 1vh;
  background: var(--main-color-lightblue);
  margin-bottom: 1vh;
}
.comment-content li {
  background: transparent;
}
.comments-header img,
.comment-list img {
  width: 5vh;
  height: 5vh;
  vertical-align: middle;
}
.comment-list .flex {
  width: 90%;
  margin: 0 auto;
}
.comment-list .flex > div {
  text-align: center;
  padding: 1vh;
  padding: 1vh 0;
  width: 48%;
}

.Question-detail {
  margin: 2vh;
}

.question-basic,
.answer-basic {
  background: var(--main-color-lightblue);
  border: 1px solid var(--main-color-lightblue);
  width: 96%;
  padding: 2vh 2%;
}
.question-title {
  font-size: 3.5vh;
}
.create_by {
  font-size: 2.5vh;
}
.create_by span {
  float: right;
}
.question-detail,
.answer-detail {
  width: 96%;
  padding: 2vh 2%;
  border: 1px solid var(--main-color-lightblue);
  font-size: 2.5vh;
  min-height: 10vh;
}
.question-detail img,
.answer-detail img {
  width: 60%;
  height: auto;
}
.Question,
.Course,
.EditCourse,
.Lesson,
.CreateLesson,
.EditLesson,
.EditComment,
.EditAnswer,
.coverboard,
.Classroom,
.ClassroomMembers,
.CreateTask,
.Tasks,
.Task,
.EditTask,
.AnswerTask,
.TaskResults,
.TaskResult,
.Calendar,
.Day,
.Chatroom {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  height: 100vh;
  transition: top .2s;
}

.coverboard {
  background: white;
}

.Classroom,
.ClassroomMembers,
.CreateTask,
.Tasks,
.Task,
.EditTask,
.AnswerTask,
.TaskResults,
.TaskResult,
.Calendar {
  background: var(--main-bg-color)
}

.Question.open,
.Course.open,
.EditCourse.open,
.Lesson.open,
.CreateLesson.open,
.EditLesson.open,
.EditComment.open,
.EditAnswer.open,
.Day.open {
  top: 0;
}

.Question.close,
.Course.close,
.EditCourse.close,
.Lesson.close,
.CreateLesson.close,
.EditLesson.close,
.EditComment.close,
.EditAnswer.close,
.Day.close {
  top: 100vh;
  overflow: hidden;
  height: 0;
}

.EditAnswer .TextEditor > .EditorPanel {
  margin-top: 3vh;
}

.EditAnswer .TextEditor > iframe {
  height: 75vh;
}

.Classrooms input,
.Classrooms textarea,
.Classroom input,
.Classroom textarea,
.ClassroomMembers input,
.Day input,
.Day textarea {
  font-size: 2.5vh;
  display: block;
  margin: 0 auto;
  margin-bottom: 1.5vh;
  width: 80%;
  border: none;
}
.Classrooms input[type="submit"],
.Classroom input[type="submit"],
.ClassroomMembers input[type="submit"],
.Day input[type="submit"] {
  margin-bottom: 0;
  border: 1px solid lightgray;
  background: whitesmoke;
}

.Classrooms textarea,
.Classroom textarea,
.Day textarea {
  height: 10vh;
  font-size: 2.5vh;
}

.Classrooms,
.Classroom {
  color: var(--main-color-lightblack);
}

.Classrooms a,
.Classroom a {
  text-decoration: none;
  color: inherit;
}
.Course .block,
.Classrooms .block,
.Classroom .block,
.ClassroomMembers .block,
.Tasks .block,
.Task .block,
.TaskResults .block,
.TaskResult .block,
.CreateTask .block,
.EditTask .block,
.AnswerTask .block,
.Classrooms ~ .EditAnswer .block,
.CreateTask .block,
.Notification .block,
.Setting .block {
  display: block;
  width: 98%;
  margin: .5vh auto;
  font-size: 3.2vh;
  background: var(--main-color-lightblue);
  text-align: center;
}
.Course .block {
  text-align: left;
  padding: 1vh 2%;
  width: 94%;
}
.Classrooms .block.btn,
.Task .block.btn {
  cursor: pointer;
}
.Classrooms .block.btn:hover,
.Task .block.btn:hover {
  opacity: .8;
}
.Classrooms .block.form,
.ClassroomMembers .block.form,
.Tasks .block.form {
  padding: 1.5vh 0;
}
.Classrooms .block.classroom,
.Classroom .block.classroom {
  width: 94%;
  padding: 1vh 2%;
  text-align: left;
  font-size: 2.5vh;
}
.Classrooms .block.classroom .name,
.Classroom .block.classroom .name {
  font-weight: bold;
  font-size: 3vh;
}
.Classrooms .block.classroom .description,
.Classroom .block.classroom .description {
  padding: 1vh 2vh;
}
.Classrooms .block.classroom .date,
.Classroom .block.classroom .date {
  font-size: 2vh;
}
.Classrooms .block.classroom .date span,
.Classroom .block.classroom .date span {
  float: right;
}
.CreateTask .block input,
.EditTask .block input {
  font-size: 3.2vh;
  width: 80%;
  margin: 1vh auto;
}
.CreateTask .block.title,
.EditTask .block.title,
.AnswerTask .block.title,
.Classrooms ~ .EditAnswer .block.title {
  padding: 1vh 0;,
}
.CreateTask .block.question,
.EditTask .block.question,
.AnswerTask .block.answer,
.Classrooms ~ .EditAnswer .block.answer {
  font-size: 2.5vh;
  margin: 1vh auto;
  padding: 1.5vh 0;
}
.CreateTask .block.question .type,
.EditTask .block.question .type,
.AnswerTask .block.answer .type,
.Classrooms ~ .EditAnswer .block.answer .type {
  margin-bottom: 1vh;
  text-align: left;
  padding: 0 1vh;
}
.AnswerTask .block.answer pre,
.Classrooms ~ .EditAnswer .block.answer pre,
.TaskResult pre {
  margin: 1vh;
  text-align: left;
  padding: 1vh;
  background: white;
}
.CreateTask .block.question textarea,
.EditTask .block.question textarea {
  width: 80%;
  min-height: 20vh;
  font-size: 2.3vh;
}
.CreateTask .block.question input,
.EditTask .block.question input {
  width: 40%;
  font-size: 2.3vh;
  margin: 1vh;
}
.CreateTask .block.question .category,
.EditTask .block.question .category {
  width: 80%;
  font-size: 2.3vh;
}
.CreateTask .block.question img,
.EditTask .block.question img {
  width: 5vh;
  height: 5vh;
  margin: 1vh;
  vertical-align: middle;
}
.CreateTask .block.question .delete,
.EditTask .block.question .delete {
  float: right;
  background: orangered;
  color: white;
  border-radius: 10px;
  padding: .3vh .8vh;
}
.task_answer_toggle.yes {
  background: lightgreen;
}
.task_answer_toggle.no{
  background: lightgray;
}
.task_answer_toggle {
  padding: .5vh 1vh;
  border-radius: 10px;
  cursor: pointer;
}
.AnswerTask .task_answer_toggle,
.Classrooms ~ .EditAnswer .task_answer_toggle {
  width: 60%;
  font-size: 2.2vh;
  padding: 1vh;
  margin: 1vh auto;
}
.CreateTask .block.flex,
.EditTask .block.flex {
  display: flex;
  flex-flow: row;
  background: transparent;
}
.CreateTask .block.flex > div,
.EditTask .block.flex > div {
  width: 49%;
  padding: 1.5vh 0;
  margin: 0 1% 0 0;
  cursor: pointer;
  background: lightgreen;
  font-size: 2.5vh;
}
.CreateTask .block.flex > div + div,
.EditTask .block.flex > div + div {
  margin: 0 0 0 1%;
}

.Classroom .classroom-item {
  list-style: none
}
.Classroom .classroom-item li {
  width: 98%;
  margin: .5vh auto;
  padding: 1vh 0;
  font-size: 3.2vh;
  background: var(--main-color-lightblue);
  text-align: center;
  cursor: pointer;
}
.ClassroomMembers .member-list li {
  width: 94%;
  margin: .5vh auto;
  background: var(--main-color-lightblue);
  font-size: 2.5vh;
  text-align: left;
  padding: 1vh 2%;
}
.ClassroomMembers .member-list li img {
  width: 15vh;
  height: 15vh;
  float: left;
}
.ClassroomMembers .member-list li .kick > span {
  padding: .2vh .5vh;
  float: right;
  background: orangered;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.classroom-item li.edit {
  background: yellow;
}
.classroom-item li.delete {
  margin: 5vh auto;
  background: red;
  color: white;
  font-weight: bold;
}
.classroom-item li form {
  padding: 1.5vh 0;
  display: block;
  width: 98%;
  margin: .5vh auto;
  background: yellow;
  text-align: center;
}

.Tasks .task-list {
  list-style: none;
  grid-area: chat;
  overflow-y: scroll;
  padding-bottom: 3vh;
}
.Tasks .task-list a {
  text-decoration: none;
  color: inherit;
}
.Tasks .task-list li,
.Day .deadline-item,
.Day .event-item {
  width: 94%;
  margin: .5vh auto;
  font-size: 2.5vh;
  background: var(--main-color-lightblue);
  padding: 1vh 2%;
}

.Task {
  overflow: hidden;
}
.TaskResults,
.TaskResult {
  color: var(--main-color-lightblack);
  overflow-x: hidden;
}
.TaskResults ul,
.TaskResult ul {
  list-style: none;
}
.Task a,
.TaskResults a{
  text-decoration: none;
  color: inherit;
}

.Task .task-basic,
.TaskResults .task-basic,
.TaskResult .task-basic {
  width: 94%;
  padding: 1vh 2%;
  text-align: left;
}
.Task .task-basic .date,
.TaskResults .task-basic.sub,
.TaskResults .task-basic .date,
.TaskResult .task-basic.sub,
.TaskResult .task-basic .date {
  font-size: 2.5vh;
}
.TaskResults .task-basic.btn,
.TaskResult .task-basic.btn {
  font-size: 2.8vh;
  padding: 1vh 2%;
  text-align: center;
  background: lightgreen;
  cursor: pointer;
}
.TaskResults .task-basic.answer,
.TaskResult .task-basic.answer {
  font-size: 2.5vh;
}
.TaskResults .task-basic.answer.btn,
.TaskResult .task-basic.answer.btn {
  background: var(--main-color-lightblue);
}
.TaskResults .task-basic.btn > *,
.TaskResult .task-basic.btn > * {
  text-align: left;
}
.Task .block.edit {
  background: yellow;
}
.Task .block.close {
  margin-top: 3vh;
}
.Task .block.close,
.Task .block.delete {
  color: white;
  background: orangered;
}
.Task .block.btn {
  padding: 1vh 0;
}

.Day a {
  text-decoration: none;
  color: inherit;
}
.Day .deadline-item {
  color: white;
  background: orangered;
}
.Day .deadline-item.btn {
  cursor: pointer;
}

.Day .event-item {
  background: yellow;
  cursor: pointer;
}
.Day .event-item.btn {
  cursor: pointer;
}

.Day .event-item img {
  float: right;
  width: 3.5vh;
  height: 3.5vh;
  vertical-align: middle;
}
.Day .event-item div + div {
  height: 0;
  overflow: hidden;
  transition: height 1s linear;
}
.Day .event-item div + div:hover,
.Day .event-item div:hover + div {
  height: auto;
  padding: 1vh 2vh;
}
.newEvent {
  font-size: 3.5vh;
}
.Chatroom {
  display: grid;
  grid-template-rows: 7vh 1fr 7vh;
  grid-template-areas:
    'header'
    'chat'
    'input';
}
.Chatroom .chat-list {
  list-style: none;
  grid-area: chat;
  overflow-y: scroll;
  padding-bottom: 2vh;
}
.Chatroom .input-field {
  grid-area: input;
  display: grid;
  grid-template-columns: 80% 20%;
  background: var(--main-color-lightblue);
  font-size: 3vh;
}
.Chatroom .input-field input {
  font-size: 3vh;
  background: whitesmoke;
}
.Chatroom .chat-list li {
  width: 94%;
  margin: .5vh auto;
  font-size: 2.5vh;
  background: var(--main-color-lightblue);
  padding: 1vh 2%;
}
.Chatroom .chat-list li .name {
  font-size: 1.5vh;
  border-bottom: 1px solid darkgray;
}
.Chatroom .chat-list li .name span {
  float: right;
}
.Chatroom .chat-list li .message {
  padding: 2vh 2vh 0 2vh;
}

.Notification .block {
  width: 94%;
  padding: 1vh 2%;
  font-size: 2.8vh;
  text-align: center;
}
.Notification .block .date {
  font-size: 2.5vh;
  text-align: right;
}
.Notification .block .add,
.Notification .block .remove {
  text-align: center;
  cursor: pointer;
}
.Notification .block .add {
  background: lightgreen;
}
.Notification .block .remove {
  background: orangered;
}

.Setting img {
  width: 25vh;
  height: 25vh;
}
.Setting .block {
  font-size: 2.6vh;
}
.Setting .block.basic {
  padding: .5vh 0;
}
.Setting .flex {
  display: flex;
  flex-flow: row wrap;
}
.Setting .flex > div {
  width: 48%;
  font-size: 2.5vh;
  padding: .5vh 0;
}
.Setting .btn {
  padding: 1vh 0;
  cursor: pointer;
  background: lightgreen;
}
.Setting .input {
  padding: 1vh 0;
}
.Setting .input input {
  font-size: 2.3vh;
  display: block;
  width: 80%;
  margin: .5vh auto;
}
.Setting .delete {
  background: orangered;
  width: 76%;
  padding: .3vh 2%;
  margin: auto;
  margin-top: 3vh;
  color: white;
  cursor: pointer;
}

.success_page {
  top: 7vh;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: white;
  display: flex;
  text-align: center;
  flex-flow: column;
  justify-content: center;
  background: whitesmoke;
}

.success_page > div {
  font-size: 5vh;
  margin-bottom: 5vh;
  color: green;
  font-weight: bold;
}

.success_page > a {
  display: block;
  font-size: 3vh;
  margin-bottom: 25vh;
  text-decoration: none;
  color: var(--main-color-lightblack);
}

.success_page > a > div {
  margin: .5vh auto;
  width: 60%;
  height: 4vh;
  background: var(--main-color-lightblue);
  border-radius: 10px;
  font-size: 3vh;
  text-align: center;
  padding: 2.5vh 1.5vh;
}

.success_page .btn {
  display: block;
  margin: .5vh auto;
  margin-bottom: 25vh;
  text-decoration: none;
  color: var(--main-color-lightblack);
  width: 60%;
  height: 4vh;
  background: var(--main-color-lightblue);
  border-radius: 10px;
  font-size: 3vh;
  text-align: center;
  padding: 2.5vh 1.5vh;
}

.success_page .btn:hover,
.success_page > a > div:hover {
  opacity: .8;
}

@media only screen and (max-width: 480px) {
  .dayDetail {
    font-size: 1.5vh;
  }
}

@media only screen and (min-width: 1000px) {
  .nav-items {
    margin: 8vh 12vw;
  }
  .nav-items > img {
    width: 14vh;
    height: 14vh;
  }
  .nav-items > div {
    width: 14vh;
    font-size: 2.5vh;
  }
  .UserInfo-main {
    width: 30%;
  }
  .header.hidden {
    display: none;
  }
  .header {
    border: 1px solid lightblue;
  }
  .Courses,
  .MyCourses,
  .CourseCollection,
  .Questions,
  .MyQuestions,
  .QuestionCollection {
    width: 38%
  }
  .Course,
  .Lesson,
  .EditLesson,
  .Question  {
    transition: 0s;
  }
  .Courses .search-panel {
    grid-template-columns: 23% 57% 20%;
  }
  .Course.open,
  .Question.open {
    width: 62%;
    top: 7vh;
    left: 38%;
    height: 93vh;
    background: transparent;
  }
  .Lesson .video {
    width: 60vw;
    height: 33.75vw;
  }
  .CreateCourses,
  .CreateQuestions,
  .Setting,
  .Notification {
    margin: 0 auto;
    width: 75%
  }
  .Setting,
  .Notification {
    width: 45%
  }
  .Course .comments-header .TextEditor > iframe,
  .EditCourse > .TextEditor > iframe,
  .EditComment > .TextEditor > iframe,
  .CreateLesson > .TextEditor > iframe,
  .EditLesson > .TextEditor > iframe,
  .CreateQuestions > .TextEditor > iframe,
  .EditAnswer > .TextEditor > iframe {
    height: 65vh;
  }
  .ClassroomsMain {
    display: grid;
    grid-template-columns: 38% 62%;
    grid-template-areas: 
      'classrooms part';
  }
  .Classrooms {
    grid-area: classrooms;
  }
  .newEvent {
    font-size: 3vh;
  }
  .part {
    grid-area: part;
    background: transparent;
    top: auto;
    left: auto;
    position: relative;
    height: 93vh;
  }
  .coverboard {
    display: none;
  }
  .CreateTask .block.question textarea,
  .EditTask .block.question textarea,
  .CreateTask .block.question input,
  .EditTask .block.question input,
  .CreateTask .block.question .category,
  .EditTask .block.question .category,
  .AnswerTask .block.answer input,
  .Classrooms ~ .EditAnswer .block.answer input {
    font-size: 2.8vh;
  }
  .CreateLesson > .TextEditor > iframe,
  .EditLesson > .TextEditor > iframe {
    height: 54vh;
  }
  .EditCourse > .TextEditor > iframe {
    height: 25vh;
  }
  .CreateQuestions > .TextEditor > iframe {
    height: 75vh;  
  }
  .success_page {
    top: 0.4vh;
  }
  .success_page.create {
    top: 7vh;
  }
}
