@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import "./daypicker.css";
@import "./calendar.css";

:root {
  --main-bg-color: repeating-linear-gradient(45deg, rgba(232, 241, 249, 0.6), rgba(255,255,255,.3) 27vh),
    repeating-linear-gradient(125deg, rgba(232, 241, 249, 0.6), rgba(255,255,255,.3) 27vh);
  --main-color-lightblue: rgba(173, 216, 230, .5);
  --main-color-lightblack: rgba(44,44,44);
}

::-webkit-scrollbar {
width: 2px;
}

::-webkit-scrollbar-thumb {
background: var(--main-color-lightblue)
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  background: var(--main-bg-color)
}

button {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  background-color: inherit;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(44,44,44,0.75), rgba(0,0,0,0));
}

pre {
  font-family: inherit;
}

#main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 7vh 1fr;
  grid-template-areas: 
    "header"
    "content";
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 8vh 1fr 8vh;
  background: lightblue;
  height: 7vh;
}

.header-icon {
  height: 6vh;
  width: 6vh;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}

.header-icon ~ span {
  font-size: 3vh;
  font-weight: bold;
  align-self: center;
  justify-self: center;
}

.header-toggle {
  height: 5vh;
  width: 5vh;
  align-self: center;
  justify-self: center;
  cursor: pointer;
  z-index: 98;
}

.content {
  grid-area: content;
  height: 93vh;
  overflow-y: scroll;
}

.sticky-top {
  position: sticky;
  top: 0;
}

#nav {
  position: absolute;
  top: 7vh;
  left: 0;
  background: rgba(0,0,0,.5);
  width: 100%;
  height: 93vh;
  transition: opacity linear .1s;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#nav.open {
  opacity: 1;
  z-index: 100;
}

#nav.close {
  opacity: 0;
  z-index: -1;
}

#nav > a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.nav-items {
  list-style: none;
  width: 20%;
  margin: 8vh 12vw 8vh 12vw;
}

.nav-items > img {
  width: 12vh;
  height: 12vh;
  margin: 0 auto;
  display: block;
}

.nav-items > div {
  color: lightblue;
  text-align: center;
  font-size: 2vh;
  width: 12vh;
  margin: 0 auto;
  font-weight: bold;
}

.UserInfo {
  z-index: 99;
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.UserInfo-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255,255,255,0.5);
  z-index: -1;
}

.UserInfo-main {
  width: 80%;
  height: 50vh;
  margin: auto;
  background-color: lightblue;
  border-radius: 10px;
  padding: 1vh;
}

.search-panel {
  width: 98%;
  height: 6vh;
  margin: 1vh auto;
  background: var(--main-color-lightblue);
  color: var(--main-color-lightblack);
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr 20%;
}

.Courses .search-panel {
  grid-template-columns: 18% 1fr 20%;
}

.search-panel > * {
  border: none;
  font-size: 2.5vh;
  height: 100%;
}

.Questions .search-panel input,
.search-panel > select {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-left: 1vh;
}
.Questions .search-panel input {
  padding-left: 1vh;
}

.search-panel > button,
.search-panel > span {
  height: auto;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}

.Questions .option,
.Courses .option {
  text-decoration: none;
  color: var(--main-color-lightblack);
}

.Questions .option div,
.Courses .option div {
  margin: .5vh auto;
  width: 98%;
  height: 4vh;
  background: var(--main-color-lightblue);
  font-size: 3.2vh;
  text-align: center;
}

.Questions .option div:hover,
.Courses .option div:hover {
  opacity: .8;
}

.Questions h1.title,
.Courses h1.title {
  text-align: center;
  font-size: 4vh;
  color: var(--main-color-lightblack);
  margin-top: 2vh;
}

.Questions h1.title img,
.Courses h1.title img {
  width: 5vh;
  height: 5vh;
  float: left;
  padding-left: 5px;
  vertical-align: middle;
}

.course-list,
.question-list {
  list-style: none;
}

.course-list li,
.question-list li {
  margin: 1vh auto;
  padding: 1vh 2vh;
  width: 90%;
  background: var(--main-color-lightblue);
  color: var(--main-color-lightblack);
  cursor: pointer;
}

.course-list li:hover,
.question-list li:hover {
  opacity: .8;
}

.course-list a,
.question-list a {
  text-decoration: none;
  color: inherit;
}

.course-list img {
  display: none;
}

.course-list li > h4,
.question-list li > h4 {
  font-size: 2.5vh;
}

.course-list li > h6,
.question-list li > h6 {
  font-size: 1.8vh;
}

.course-list li > h6 > span,
.question-list li > h6 > span {
  float: right;
}

.course-list li > div {
  padding: 0 1vw;
  font-size: 2vh;
}

.question-list li > h6.solved {
  color: green;
}

.question-list li > h6.not-solved {
  color: red;
}

.Question .TextEditor > .EditorPanel {
  width: 96%;
  margin: 0 auto;
  border: 1px solid gray;
  border-bottom: none;
}

.Question .TextEditor > .EditorPanel > button {
  margin: 1vh .95vh;
  border: 1px solid transparent;
  width: 3vh;
  height: 3vh;
  cursor: pointer;
}

.Question .TextEditor > .EditorPanel > button:hover {
  border: 1px solid lightgray;
}

.Question .TextEditor > .EditorPanel > button > img {
  width: 100%;
  height: 100%;
}

.Question .TextEditor > iframe {
  display: block;
  font-size: 2vh;
  margin: auto;
  width: 96%;
  height: 15vh;
  background-color: rgba(255,255,255,.5);
  border: 1px inset lightgray;
}
.Question .TextEditor > iframe > * {
  font-size: 2vh;
}

.course-detail .description img,
.Question .question_detail img {
  width: 80%;
  height: auto;
  display: block;
}

.CreateCourses > input,
.EditCourse > input,
.CreateLesson > input,
.EditLesson > input,
.CreateQuestions > input {
  display: block;
  width: 96%;
  margin: 1vh auto;
  font-size: 3vh;
  border: 1px solid gray;
}

.Course .comments-header .TextEditor .EditorPanel,
.CreateCourses > .TextEditor > .EditorPanel,
.EditCourse > .TextEditor > .EditorPanel,
.EditComment > .TextEditor > .EditorPanel,
.CreateLesson > .TextEditor > .EditorPanel,
.EditLesson > .TextEditor > .EditorPanel,
.CreateQuestions > .TextEditor > .EditorPanel {
  width: 96%;
  margin: 0 auto;
  border: 1px solid gray;
  border-bottom: none;
}

.Course .comments-header .TextEditor .EditorPanel > button,
.CreateCourses > .TextEditor > .EditorPanel > button,
.EditCourse > .TextEditor > .EditorPanel > button,
.EditComment > .TextEditor > .EditorPanel > button,
.CreateLesson > .TextEditor > .EditorPanel > button,
.EditLesson > .TextEditor > .EditorPanel > button,
.CreateQuestions > .TextEditor > .EditorPanel > button {
  margin: 1vh .94vh;
  border: 1px solid transparent;
  width: 3vh;
  height: 3vh;
  cursor: pointer;
}
.Course .comments-header .TextEditor .EditorPanel > button {
  margin: 1vh .89vh;
}

.Course .comments-header .TextEditor .EditorPanel > button:hover,
.CreateCourses > .TextEditor > .EditorPanel > button:hover,
.EditCourse > .TextEditor > .EditorPanel > button:hover,
.EditComment > .TextEditor > .EditorPanel > button:hover,
.CreateLesson > .TextEditor > .EditorPanel > button:hover,
.EditLesson > .TextEditor > .EditorPanel > button:hover,
.CreateQuestions > .TextEditor > .EditorPanel > button:hover {
  border: 1px solid lightgray;
}

.Course .comments-header .TextEditor .EditorPanel > button > img,
.CreateCourses > .TextEditor > .EditorPanel > button > img,
.EditCourse > .TextEditor > .EditorPanel > button > img,
.EditComment > .TextEditor > .EditorPanel > button > img,
.CreateLesson > .TextEditor > .EditorPanel > button > img,
.EditLesson > .TextEditor > .EditorPanel > button > img,
.CreateQuestions > .TextEditor > .EditorPanel > button > img {
  width: 100%;
  height: 100%;
}

.Course .comments-header .TextEditor > iframe,
.CreateCourses > .TextEditor > iframe,
.EditCourse > .TextEditor > iframe,
.EditComment > .TextEditor > iframe,
.CreateLesson > .TextEditor > iframe,
.EditLesson > .TextEditor > iframe,
.CreateQuestions > .TextEditor > iframe {
  display: block;
  font-size: 2vh;
  margin: auto;
  width: 96%;
  height: 75vh;
  background-color: rgba(255,255,255,.5);
  border: 1px inset lightgray;
}

.CreateCourses > .TextEditor > iframe,
.EditCourse > .TextEditor > iframe {
  height: 35vh;
}
.CreateLesson > .TextEditor > iframe,
.EditLesson > .TextEditor > iframe {
  height: 64vh;
}
.Course .comments-header .TextEditor > iframe {
  height: 15vh;
}

.CreateCourses .TextEditor + div,
.EditCourse .TextEditor + div {
  padding: 0 2vh;
  font-size: 3vh;
}

.CreateCourses ol,
.EditCourse ol {
  height: 32vh;
  overflow-y: scroll;
  font-size: 3vh;
}

.CreateCourses ol > li,
.EditCourse ol > li {
  margin: 1vh 5vh;
  font-size: 3vh;
}

.CreateCourses ol > li > input,
.EditCourse ol > li > input {
  font-size: 3vh;
}

.CreateCourses img.add,
.EditCourse img.add,
.EditCourse img.minus,
.CreateCourses img.minus {
  width: 5vh;
  height: 5vh;
  vertical-align: middle;
}

.CreateCourses > .submit,
.EditCourse > .submit,
.EditComment > .submit,
.CreateLesson > .submit,
.EditLesson > .submit,
.CreateQuestions > .submit,
.Question .EditAnswer > .submit {
  width: 96%;
  font-size: 3vh;
  background: lightblue;
  border-radius: 10px;
  margin: 1vh auto;
  display: block;
  padding: .5vh 0;
  cursor: pointer;
}
.EditComment .rate {
  width: 5vh;
  height: 5vh;
}

.Course {
  overflow-x: hidden;
  color: var(--main-color-lightblack)
}

.Question {
  overflow-x: hidden;
  overflow-y: scroll;
}

.Lesson .lesson_title {
  width: 96%;
  margin: auto;
  font-weight: bold;
  font-size: 3vh;
  height: 3.5vh;
  overflow-y: scroll;
}

.Lesson .flex {
  margin: auto;
  width: 96%;
}

.Lesson .video {
  display: block;
  margin: 1vh auto;
  width: 95vw;
  height: 53vw;
}

.Lesson .download {
  margin: 1vh auto;
  margin-top: 0;
  width: 98%;
  font-size: 2.5vh;
}
.Lesson .download > * {
  margin: 0 1vh;
}

.Lesson .lesson_detail {
  width: 93%;
  height: 80vh;
  margin: 1vh auto;
  overflow: scroll;
  padding: 1vh 2vh;
  font-size: 2.5vh;
  background: rgba(173, 216, 230);
}

.course-detail,
.lesson-panel {
  width: 98%;
  margin: 1vh auto;
  padding: 1vh 0;
  background: var(--main-color-lightblue)
}

.course-detail > .title {
  padding: 0 1.5vh;
  font-weight: bold;
  font-size: 3.5vh;
}

.course-detail > .author {
  font-size: 2.5vh;
  padding: 0 1.5vh;
}

.course-detail > .description {
  font-size: 3vh;
  padding: 0 2.5vh;
  margin: 2vh auto;
}

.course-detail > .tags {
  font-size: 2.5vh;
  padding: 0 1.5vh;
}

.lesson-panel > .lesson {
  margin: 1vh 0;
  font-size: 3vh;
  padding: 0 1.5vh;
  cursor: pointer;
}

.lesson-panel > .lesson:hover {
  opacity: 0.8;
}

.lesson_file {
  font-size: 2vh;
}

.Lesson .edit,
.Lesson .delete,
.Question .delete,
.Question .collection,
.course-btn-panel {
  width: 98%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  font-size: 3vh;
  margin: auto;
}
.course-btn-panel > div {
  width: 99%;
}
.Lesson .edit,
.Lesson .delete,
.Question .delete,
.Question .collection,
.course-btn-panel div {
  padding: 1vh 2vh;
  margin: .5vh 0;
}
.Lesson .flex,
.comment-list .flex,
.course-btn-panel > .flex {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
}
.Lesson .edit,
.Lesson .delete,
.course-btn-panel > .flex > div {
  padding: 1vh 0;
  width: 49%;
}
.course-btn-panel .create {
  background: lightgreen;
}
.Lesson .edit,
.comment-list .edit,
.course-btn-panel .edit {
  margin: 0 1% 0 0;
  background: yellow;
}
.Lesson .delete,
.comment-list .delete,
.course-btn-panel .delete {
  margin: 0 0 0 1%;
  background: red;
}
.course-btn-panel .rate {
  background: var(--main-color-lightblue);
}
.Question .collection.add,
.course-btn-panel .collection.add {
  background: lightgreen;
}
.Question .delete,
.Question .collection.remove,
.course-btn-panel .collection.remove {
  background: red;
}
.Question .delete,
.Question .collection {
  width: 96%;
  padding: 1vh 2%;
}
.Question .collection.add {
  border: 1px solid lightgreen;
}
.Question .delete,
.Question .collection.remove {
  border: 1px solid red;
}
.Question .delete.cancel {
  background: yellow;
  border: 1px solid yellow;
}
.comments-header {
  width: 98%;
  margin: 1vh auto;
  text-align: center;
  padding: 1vh 0;
  background: var(--main-color-lightblue);
  font-weight: bold;
  font-size: 3vh;
}
.comment-content {
  padding: 2vh;
  padding-bottom: 3vh;
}
.comment-content ul,
.comment-content ol {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}
.question-header,
.best-answer-header {
  width: 96%;
  text-align: center;
  padding: 1vh 0;
  padding: 1vh 2%;
  background: var(--main-color-lightblue);
  font-weight: bold;
  font-size: 3vh;
  border: 1px solid var(--main-color-lightblue);
  margin: 2px 0;
}
.comment-list {
  width: 98%;
  margin: 0 auto;
  padding: 1vh 0;
  font-size: 2.5vh;
}
.comment-list li {
  text-align: left;
  padding: 1vh;
  background: var(--main-color-lightblue);
  margin-bottom: 1vh;
}
.comment-content li {
  background: transparent;
}
.comments-header img,
.comment-list img {
  width: 5vh;
  height: 5vh;
  vertical-align: middle;
}
.comment-list .flex {
  width: 90%;
  margin: 0 auto;
}
.comment-list .flex > div {
  text-align: center;
  padding: 1vh;
  padding: 1vh 0;
  width: 48%;
}

.Question-detail {
  margin: 2vh;
}

.question-basic,
.answer-basic {
  background: var(--main-color-lightblue);
  border: 1px solid var(--main-color-lightblue);
  width: 96%;
  padding: 2vh 2%;
}
.question-title {
  font-size: 3.5vh;
}
.create_by {
  font-size: 2.5vh;
}
.create_by span {
  float: right;
}
.question-detail,
.answer-detail {
  width: 96%;
  padding: 2vh 2%;
  border: 1px solid var(--main-color-lightblue);
  font-size: 2.5vh;
  min-height: 10vh;
}
.Question,
.Course,
.EditCourse,
.Lesson,
.CreateLesson,
.EditLesson,
.EditComment,
.EditAnswer,
.coverboard,
.Classroom,
.ClassroomMembers,
.CreateTask,
.Tasks,
.Task,
.EditTask,
.AnswerTask,
.TaskResults,
.TaskResult,
.Calendar,
.Day,
.Chatroom {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  height: 100vh;
  transition: top .2s;
}

.coverboard {
  background: white;
}

.Classroom,
.ClassroomMembers,
.CreateTask,
.Tasks,
.Task,
.EditTask,
.AnswerTask,
.TaskResults,
.TaskResult,
.Calendar {
  background: var(--main-bg-color)
}

.Question.open,
.Course.open,
.EditCourse.open,
.Lesson.open,
.CreateLesson.open,
.EditLesson.open,
.EditComment.open,
.EditAnswer.open,
.Day.open {
  top: 0;
}

.Question.close,
.Course.close,
.EditCourse.close,
.Lesson.close,
.CreateLesson.close,
.EditLesson.close,
.EditComment.close,
.EditAnswer.close,
.Day.close {
  top: 100vh;
  overflow: hidden;
  height: 0;
}

.EditAnswer .TextEditor > .EditorPanel {
  margin-top: 3vh;
}

.EditAnswer .TextEditor > iframe {
  height: 75vh;
}

.Classrooms input,
.Classrooms textarea,
.Day input,
.Day textarea {
  font-size: 2vh;
  display: block;
  margin: 0 auto;
  margin-bottom: 1.5vh;
  width: 80%
}

.Classrooms textarea,
.Day textarea {
  height: 10vh;
}

.task_answer_toggle.yes {
  background-color: green;
}

.task_answer_toggle.no{
  background-color: lightgray;
}

.success_page {
  top: 7vh;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: white;
  display: flex;
  text-align: center;
  flex-flow: column;
  justify-content: center;
  background: whitesmoke;
}

.success_page > div {
  font-size: 5vh;
  margin-bottom: 5vh;
  color: green;
  font-weight: bold;
}

.success_page > a {
  display: block;
  font-size: 3vh;
  margin-bottom: 25vh;
  text-decoration: none;
  color: var(--main-color-lightblack);
}

.success_page > a > div {
  margin: .5vh auto;
  width: 60%;
  height: 4vh;
  background: var(--main-color-lightblue);
  border-radius: 10px;
  font-size: 3vh;
  text-align: center;
  padding: 2.5vh 1.5vh;
}

.success_page .btn {
  display: block;
  margin: .5vh auto;
  margin-bottom: 25vh;
  text-decoration: none;
  color: var(--main-color-lightblack);
  width: 60%;
  height: 4vh;
  background: var(--main-color-lightblue);
  border-radius: 10px;
  font-size: 3vh;
  text-align: center;
  padding: 2.5vh 1.5vh;
}

.success_page .btn:hover,
.success_page > a > div:hover {
  opacity: .8;
}

@media only screen and (min-width: 780px) {
  .nav-items {
    margin: 8vh 6vw;
  }
  .nav-items > img {
    width: 22vh;
    height: 22vh;
  }
  .nav-items > div {
    width: 22vh;
    font-size: 3vh;
  }
  .header.hidden {
    display: none;
  }
  .Courses,
  .MyCourses,
  .CourseCollection,
  .Questions,
  .MyQuestions,
  .QuestionCollection {
    width: 38%
  }
  .Course,
  .Lesson,
  .EditLesson,
  .Question  {
    transition: 0s;
  }
  .Courses .search-panel {
    grid-template-columns: 23% 57% 20%;
  }
  .Course.open,
  .Question.open {
    width: 62%;
    top: 7vh;
    left: 38%;
    height: 93vh;
    background: transparent;
  }
  .Lesson .video {
    width: 60vw;
    height: 33.75vw;
  }
  .CreateCourses,
  .CreateQuestions {
    margin: 0 auto;
    width: 75%
  }
  .Course .comments-header .TextEditor > iframe,
  .EditCourse > .TextEditor > iframe,
  .EditComment > .TextEditor > iframe,
  .CreateLesson > .TextEditor > iframe,
  .EditLesson > .TextEditor > iframe,
  .CreateQuestions > .TextEditor > iframe,
  .EditAnswer > .TextEditor > iframe {
    height: 67vh;
  }
  .CreateLesson > .TextEditor > iframe,
  .EditLesson > .TextEditor > iframe {
    height: 54vh;
  }
  .EditCourse > .TextEditor > iframe {
    height: 25vh;
  }
  .CreateQuestions > .TextEditor > iframe {
    height: 75vh;  
  }
  .success_page {
    top: 0vh;
  }
  .success_page.create {
    top: 7vh;
  }
}
